@{
    ViewBag.Title = "Index";

}
<script type="text/javascript">
    $(function () {
        $('#wizardLink').colorbox({ wizardMode: true });
        $('#colorboxLink').colorbox();
    });
</script>
<h2>
    Welcome To Our Site</h2>
<h3>
    This wizard will help you get going with jQuery Colorbox Wizard Plugin</h3>
<p>
    <a href="/MyWizard/Step1">Register</a></p>
<p>
    <a id="colorboxLink" href="/MyWizard/Step1">Register in Colorbox</a></p>
<p>
    <a id="wizardLink" href="/MyWizard/Step1">Register in Colorbox Wizard</a></p>
<p>
    <a id="wizardLink" href="/MyWizard2/Step1">Register in Colorbox Wizard2</a></p>
