@{
    if (!ViewBag.ShowLayout)
    {
        Layout = null;
    }
}

<h3>Registration Complete</h3>

<p>Thank You for Registering!</p>


<a href="/Home/Index" class="noCapture">Return To Home Page</a>